<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>

        <div class="container">
            <h1><%= pageTitle %></h1>
        </div>

        <div class="container">
            <% products.forEach(function (product) { %>
            <p class="font-weight-bold">Product name:</p>
            <p><%= product.name %></p>
            <% }); %>
        </div>

        <div class="container">
            <form action="/admin/newProduct" method="POST">
                <h2>Create New Product</h2>

                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input name="productName" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
